
  /* Import Google Font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 108, 47, 0.9);
    padding: 20px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
   .logo img {
    
      width: 200px;
      height: 35px;
      margin-left: -1.5em;
  }
  
  
  .navbar .right {
    display: flex;
  }
  
 
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 108, 47, 0.9);
    color: white;
    text-align: center;
    padding: 20px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  
  .line{
    width: 93%;
    background-color: #777777;
    height: 2px;
    top: 16px;
    position: relative;
  }
  
  
  .div1{
    font-size: 25px;
    color: #777777;
  }

  .aling{
    position: relative;
    right: 8%;
    margin-top: 3%;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  font-family:'Poppins', sans-serif;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 1920px 1080px;
  background-position: center;
  background-repeat: no-repeat;
}
::selection{
  color: #fff;
  background: #4285f4;
}
.input1{
  font-size: 20px;
}
.input1verdura{
  font-size: 20px;
}
.input1legume{
  font-size: 20px;
}
.wrapper{
  width: 309px;
  margin: 6px 0
}
.wrapperlegume{
  width: 309px;
  margin: 6px 0
}
.wrapperverdura{
  width: 309px;
  margin: 6px 0
}
.wrappercarnes{
  width: 309px;
  margin: 6px 0
}
.wrappermassas{
  width: 309px;
  margin: 6px 0
}
.wrapperoutros{
  width: 309px;
  margin: 6px 0
}

.div2{
  position: relative;
  margin-top: 3%;
  display: flex;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnverdura, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnlegume, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btncarnes, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnmassas, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnoutros, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnverdura{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnlegume{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnoutros{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btncarnes{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnmassas{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnverdura i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnlegume i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btncarnes i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnmassas i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnoutros i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.wrapperverdura.active .select-btnverdura i{
  transform: rotate(-180deg);
}
.wrapperlegume.active .select-btnlegume i{
  transform: rotate(-180deg);
}
.wrappercarnes.active .select-btncarnes i{
  transform: rotate(-180deg);
}
.wrappermassas.active .select-btnmassas i{
  transform: rotate(-180deg);
}
.wrapperoutros.active .select-btnoutros i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.wrapperlegume.active .content{
  display: block;
}
.wrapperverdura.active .content{
  display: block;
}
.wrappercarnes.active .content{
  display: block;
}
.wrappermassas.active .content{
  display: block;
}
.wrapperoutros.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionsverdura{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionslegume{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionscarnes{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionsmassas{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionsoutros{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.optionsverdura::-webkit-scrollbar{
  width: 7px;
}
.optionslegume::-webkit-scrollbar{
  width: 7px;
}
.optionscarnes::-webkit-scrollbar{
  width: 7px;
}
.optionsmassas::-webkit-scrollbar{
  width: 7px;
}
.optionsoutros::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionsverdura::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionslegume::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionscarnes::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionsmassas::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionsoutros::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionsverdura::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionslegume::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionscarnes::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionsmassas::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionsoutros::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionsverdura::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionslegume::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionscarnes::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionsmassas::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionsoutros::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionsverdura li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionslegume li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionscarnes li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionsmassas li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionsoutros li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionsverdura li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionslegume li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionsmassas li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionsoutros li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}



.div3{
  display:flex;
  margin-top: 1%;
  margin-bottom: 1%;
}





#tabela-dados {
  width: 100%;
  border-collapse: collapse;
  max-height: 300px;
  overflow: auto; 
}

#tabela-dados th {
  text-align: left;
  background-color: #e87a4352;
  padding: 10px;
}

#tabela-dados td {
  padding: 10px;
}

#tabela-dados tbody tr:nth-child(even) {
  background-color: #e87a432e;
}

#tabela-dados .nome {
  font-weight: bold;
}

.tabela-container {
  max-height: 300px; 
  overflow: auto; 
  display: none;
}

.tabela-container table {
  width: 100%;
}

.tabela-container th,
.tabela-container td {
  border: 1px solid #ddd;
  padding: 8px; 
}


.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 30px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-31 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 30px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-31:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-31:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.tabela-container{

}