
  /* Import Google Font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 108, 47, 0.9);
    padding: 20px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .navbar .logo {
    margin-left: 0;
  }
  
  .navbar .right {
    display: flex;
  }
  
 
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 108, 47, 0.9);
    color: white;
    text-align: center;
    padding: 20px 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  
  .line{
    width: 150%;
    background-color: #777777;
    height: 2px;
    top: 16px;
    position: relative;
  }
  
  
  .div1{
    font-size: 25px;
    color: #777777;
  }

  .aling{
    position: relative;
    right: 29%;
    margin-top: 2%;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  font-family:'Poppins', sans-serif;
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 1920px 1080px;
  background-position: center;
  background-repeat: no-repeat;
}
::selection{
  color: #fff;
  background: #4285f4;
}
.input1{
  font-size: 20px;
}
.input1verdura{
  font-size: 20px;
}
.input1legume{
  font-size: 20px;
}
.wrapper{
  width: 309px;
  margin: 6px 0
}
.wrapperlegume{
  width: 309px;
  margin: 6px 0
}
.wrapperverdura{
  width: 309px;
  margin: 6px 0
}
.div2{
  position: relative;
  margin-top: 13%;
  display: flex;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnverdura, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btnlegume, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnverdura{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btnlegume{
  height: 42px;
  padding: 0 20px;
  font-size: 17px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnverdura i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.select-btnlegume i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.wrapperverdura.active .select-btnverdura i{
  transform: rotate(-180deg);
}
.wrapperlegume.active .select-btnlegume i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.wrapperlegume.active .content{
  display: block;
}
.wrapperverdura.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionsverdura{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.content .optionslegume{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.optionsverdura::-webkit-scrollbar{
  width: 7px;
}
.optionslegume::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionsverdura::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.optionslegume::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionsverdura::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.optionslegume::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionsverdura::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.optionslegume::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionsverdura li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.optionslegume li{
  height: 50px;
  padding: 0 13px;
  font-size: 17px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionsverdura li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.optionzlegume li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}